body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #121212;
    padding: 20px;
    text-align: center;
}

.logo {
    width: 150px;
}

.orders {
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #dddddd;
}

th {
    background-color: #121212;
    color: white;
}

tr:hover {
    background-color: #f2f2f2;
}
