body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #121212;
    padding: 20px;
    text-align: center;
}

header img {
    width: 150px;
}

.add-info {
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.add-info h1 {
    text-align: center;
}

.add-info label {
    display: block;
    margin: 10px 0 5px;
}

.add-info input {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-info button {
    background-color: #121212;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.add-info button:hover {
    background-color: #121212;
}
